{% extends 'layouts/base-presentation.html' %}

{% block content %}
  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="https://miro.medium.com/v2/resize:fit:1400/1*8ygFKYb0Yo6Hc-vnScGA9A.png">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ project.name }}</h4>
                <div class="d-block"><a href="{% url 'projects:project-update' pk=project.id %}" class="btn btn-outline-secondary mb-0">
      Update</a>
                  <a href="{% url 'projects:project-delete' pk=project.id %}" class="btn btn-outline-primary mb-0">
      Delete</a>
                </div>
              </div>
              <h6>Description: </h6>
              <p class="text-lg mb-0">
                {{ project.description }}
              </p>
              <h6>Workers:</h6>
    <ul>
        {% for worker in project.workers.all %}
            <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</li>
        {% endfor %}
    </ul>
            <button type="button" class="btn btn-sm btn-outline-info  mb-0">
               This project have {{ active_tasks }} active tasks</button>
            <button type="button" class="btn btn-sm btn-outline-info  mb-0">
               You have already finished {{ percent_of_finished_task }}% of tasks</button>
            <h6>
    Current tasks:</h6>

    {% with tasks=project.tasks.all %}
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                {% if not task.is_completed %}
                    <li>{% if user in task.workers.all %}🚀{% endif %}{{ task.name }} ({{ task.deadline }})</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>You have already finished all the task!</p>
    {% endif %}
{% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div></section>
{% endblock %}
