{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-8">
  <h1>
    Tasks list
    <a href="{% url 'projects:project-create' %}" class="btn btn-primary link-to-page">+</a> <a href="{% url 'projects:tasktype-list' %}" class="btn btn-primary link-to-page">
      Check all the task types
    </a>
  </h1>
  <form method="get" action="" class="form-inline d-flex align-items-center">
  {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if task_list %}
    <div class="row">
      {% for task in task_list %}
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain card-blog">
            <div class="card-body px-0">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-bold">{% if user in task.workers.all %}🚀{% endif %} {{ task.name }}</a>
              </h5>
              <h6>
                {{ task.task_type }}, deadline: {{ task.deadline }}
              </h6><p class="{% if task.is_completed == False %}{% endif %}">active</p>
              <a href="{% url "projects:task-detail" pk=task.id %}" class="text-info icon-move-right">Read More
                <i class="fas fa-arrow-right text-sm"></i>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}</div>
  {% else %}
    <p>There are not your tasks</p>
  {% endif %}</div>
{% endblock %}
