{% extends "base.html" %}

{% block content %}
  <h1>
    Task type list
    <a href="{% url 'projects:tasktype-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if tasktype_list %}
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>update</th>
        <th>delete</th>
      </tr>
    <ul>
      {% for tasktype in tasktype_list %}
          <tr>
            <td>{{ tasktype.id }}</td>
            <td>{{ tasktype.name }}</td>
            <td><a href="{% url 'projects:tasktype-update' pk=tasktype.id %}" class="btn btn-primary ">update</a></td>
            <td><a href="{% url 'projects:tasktype-delete' pk=tasktype.id %}" class="btn btn-primary ">Delete</a></td>
          </tr>
      {% endfor %}
    </ul>

  {% else %}
    <p>There are no task types</p>
  {% endif %}

{% endblock %}
