{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }} ({{ task.priority }})
    <a href="#" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="#" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h5>{{ task.project }} - {{ task.task_type }}</h5>
  <h6>Deadline: {{ task.deadline }},  is_completed:{{ task.is_completed }}</h6>
  <p>Description: ({{ task.description }})</p>
  <h1>
    Workers:</h1>

    <ul>
        {% for worker in task.workers.all %}
            <li>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</li>
        {% endfor %}
    </ul>

{% endblock %}
