{% extends 'layouts/base-presentation.html' %}

{% block content %}
  <div class="container mt-8">
  <h1>
    Worker list
    <a href="{% url 'projects:worker-create' %}" class="btn btn-primary link-to-page">
      Create
    </a> <a href="{% url 'projects:position-list' %}" class="btn btn-primary link-to-page">
      Check all the positions
    </a>
  </h1>
  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Position</th>
        <th>Email</th>
      </tr>
    <ul>
      {% for worker in worker_list %}
          <tr>
            <td><a type="button" class="btn btn-outline-primar btn-sm me-2" href="{% url "projects:worker-detail" pk=worker.id %}">{{ worker.id }}</a></td>
            <td>{% if user == worker %}🚀{% endif %}{{ worker.username }}</td>
            <td>{{ worker.first_name}} {{ worker.last_name }}</td>
            <td>{{ worker.position }}</td>
            <td>{{ worker.email }}</td>
          </tr>
      {% endfor %}
    </ul></table>

  {% else %}
    <p>There are no workers</p>
  {% endif %}</div>
{% endblock %}
