{% extends 'layouts/base-presentation.html' %}
{% block body_class %} position-list {% endblock body_class %}
{% block content %}
  <header>
    <div class="page-header section-height-85">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex justify-content-center flex-column">
            <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div>
                <h3 class="text-gradient text-primary">{{ worker.username }}   ({{ worker.first_name }} {{ worker.last_name }})</h3>
                <a href="{% url 'projects:worker-update' pk=worker.id%}" class="btn btn-outline-secondary mb-0">Update</a>
                <a href="{% url 'projects:worker-delete' pk=worker.id %}" class="btn btn-outline-primary mb-0">Delete</a>


  </h1>
  <p>Position: ({{ worker.position }})</p>
  <p>Email: {{ worker.email }}</p>
  <h1>
    Projects:</h1>

    <ul>
        {% for project in worker.projects.all %}
            <li>{{ project.name }}</li>
        {% endfor %}
    </ul>
             {% if overdue_tasks > 0 %}
                <button type="button" class="btn btn-outline-danger btn-sm me-2">{{ overdue_tasks }} overdue tasks</button>
              {% else %}
               <button type="button" class="btn btn-outline-success btn-sm me-2">{{ overdue_tasks }} overdue tasks</button>
              {% endif %}

  <h1>
    Current tasks:</h1>

    {% with tasks=worker.tasks.all %}
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                {% if not task.is_completed %}
                  <a type="button" class="btn btn-outline-primar btn-sm me-2" href="{% url "projects:task-detail" pk=task.id %}">{{ task.name }} ({{ task.deadline }})</a>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>You have already finished all the task!</p>
    {% endif %}
{% endwith %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
