{% extends "base.html" %}

{% block content %}
  <h1>
    Worker list
    <a href="#" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Position</th>
        <th>Email</th>
      </tr>
    <ul>
      {% for worker in worker_list %}
          <tr>
            <td><a href="{% url "projects:worker-detail" pk=worker.id %}">{{ worker.id }}</a></td>
            <td>{{ worker.username }}</td>
            <td>{{ worker.first_name}} {{ worker.last_name }}</td>
            <td>{{ worker.position }}</td>
            <td>{{ worker.email }}</td>
          </tr>
      {% endfor %}
    </ul>

  {% else %}
    <p>There are no workers</p>
  {% endif %}

{% endblock %}
